<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Block access to dotfiles (like .env)
    RewriteRule ^\.env - [F,L]

    # Route Everything to index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php [L,QSA]
</IfModule>
